<% if model.errors.any? %>
  <div id="error_explanation" style="text-align: center; margin-bottom: 20px;">
    <ul style="list-style: none; padding: 0;">
      <% model.errors.full_messages.each do |msg| %>
        <li style="color: red; font-size: 14px;"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
